{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit {{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form class="post-form" method="POST" action="{{ url_for('blog.update', id=post['_id']) }}" enctype="multipart/form-data">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required />
  {% if post['image'] != '' %}
    <img src="{{ url_for('blog.uploaded_image', filename=post['image']) }}" alt="image" />
    <input type="submit" class="danger" formaction="{{ url_for('blog.delete_image', id=post['_id'], mode='update') }}" value="Delete image" />
  {% endif %}
  <label for="file" style="margin-top: .3rem;">Upload different image</label>
  <input type="file" name="file" />
  <input type="submit" formaction="{{ url_for('blog.update_image', id=post['_id'], mode='update') }}" value="Upload image now" />
  <label for="body">Body</label>
  <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
  <label for="tags">Add your tags (comma separated):</label>
  <textarea name="tags" id="tags" style="min-height: 3em;">{{ request.form['tags'] or tags }}</textarea>
  <input type="submit" value="Save" />
</form>
<hr>
<form class="danger post-form" action="{{ url_for('blog.delete', id=post['_id']) }}" method="POST">
  <input type="submit" class="danger" value="Delete" onclick="return confirm('Are you sure?');" />
</form>
{% endblock %}