* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  letter-spacing: .05rem;
  background-color: #f0f0f0;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4rem;
}

nav {
  width: 100%;
  padding: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, .25);
  background-color: #fafafa;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation > ul {
  display: flex;
  gap: 2rem;
}

form {
  width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 4rem;
  border: 1px solid #aaa;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fafafa;
}

form > input {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: .6rem;
  outline: none;
  border: 1px solid #aaa;
}

form > input[type="submit"] {
  margin-top: 2rem;
  align-self: center;
  min-width: 10em;
}

form > input[type="submit"]:hover {
  cursor: pointer;
}

form.danger {
  padding: 1rem 2rem;
}

input[type="submit"].danger {
  margin-top: 0;
  color: #cc2f2e;
}

form > textarea {
  min-height: 12em;
  resize: vertical;
  font-size: 1.6rem;
}

.home-title {
  font-size: 6rem;
  text-align: center;
  color: #555;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  margin: 4rem 0;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #aaa;
}

.content > header > h1 {
  margin: 1rem 0 0.25rem 0;
  flex: auto;
}

.content hr {
  margin: 1rem 0 2rem;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.6em;
  margin-bottom: 0;
}

.post .about {
  color: #444;
  font-size: 0.85em;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.post .tag {
  margin: 0.2rem;
  padding: 0.1rem .3rem;
  font-size: 0.85em;
  color: #999;
  white-space: pre-line;
  border: 1px solid #999;
  border-radius: 6px;
  float: left;
}

.post .tag:hover {
  background-color: #bbb;
}

.comment {
  margin-top: 0.2em;
  padding-left: 1rem;
  font-size: 1em;
  color: #222;
  white-space: pre-line;
}

.comment-header {
  padding-left: 1rem;
  font-size: 0.85em;
  color: #377ba8;
  font-style: italic;
}
